.home {
  padding-top: 8px;
  grid-column: 1 / -1;

  & .red {
    color: var(--primary-red);
  }

  & .background-gray {
    position: absolute;
    left: 0;
    top: 0;
    width: 200vw;
    height: 308px;
    background-color: var(--gray-7);
    z-index: -1;
    margin-left: -50%;
  }

  & .hero {
    grid-column: 1 / -1;
    height: 220px;
    position: relative;
    margin-top: 32px;

    & .background-web {
      display: none;
    }

    & .girl-web {
      display: none;
    }

    &__right {
      position: absolute;
      right: -65px;
      bottom: 0;
      top: 0;
      margin: auto;

      & .girl {
        width: 142px;
        position: relative;
      }

      & .car {
        position: absolute;
        right: -25px;
        bottom: 30px;
        width: 165px;
      }

      & .stars {
        position: absolute;
        left: 3px;
        top: 60px;
        width: 30px;
      }
    }

    & .text {
      width: 75%;

      &__top {
        letter-spacing: 0.8px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        font-family: var(--lato);
        font-weight: 700;
        color: var(--gray-primary);
      }

      &__title {
        margin: 8px 0;
        line-height: 36px;
        letter-spacing: -0.6px;
        font-size: 28px;
        font-weight: 400;
        font-family: var(--lato);
        color: var(--gray-primary);
      }

      &__bottom {
        line-height: 24px;
        font-size: 14px;
        font-family: var(--roboto);
        color: var(--gray-secundary);
      }
    }
  }

  & .middle-custom {
    color: inherit;
  }
}

.form {
  margin-top: 40px;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  & .title {
    color: var(--gray-primary);
    font-family: var(--lato);
    font-size: 24px;
  }

  & .termns {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
    font-size: 12px;

    &__checkbox {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
    }

    &__checkbox-custom {
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid #43b748;
      flex-shrink: 0;
      color: white;

      &.checked {
        background-color: #43b748;
      }
    }

    & .text {
      color: var(--gray-secundary);
      font-weight: 300;
      font-family: var(--roboto);
    }

    & .link {
      color: currentColor;
      font-weight: 400;
      font-family: var(--lato);
    }
  }
}

.personal-data {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & .input {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #c5cbe0;
    font-family: var(--lato);
    &::placeholder {
      color: #c5cbe0;
    }
  }
}

.button-primary {
  width: 100%;
  height: 56px;
  background-color: var(--primary-red);
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-family: var(--lato);
  font-weight: 700;
  letter-spacing: 0.8px;
}

@media (min-width: 768px) {
  .home {
    display: grid;
    grid-template-columns: repeat(38, 1fr);
    .background-gray {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-left: inherit;
      height: 100vh;
      margin-top: -70px;
      grid-column: 1 / 15;
      grid-row-start: 1;
      justify-self: end;
      background: var(--web-background);
      &:before {
        content: "";
        position: absolute;
        height: 100%;
        right: 100%;
        top: 0;
        width: 50vw;
        background: var(--web-background);
      }
    }

    .hero {
      grid-column: 2 / span 9;
      grid-row-start: 1;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: static;
      margin-top: 80px;

      & .background-web {
        display: inherit;
        min-width: 500px;
        width: 150%;
        position: absolute;
        right: 0;
        top: 0;
        justify-self: end;
        z-index: -1;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column: 1 / span 14;
      }

      & .girl-web {
        display: inherit;
        width: 225px;
      }

      & .text {
        width: 100%;
      }

      &__right {
        display: none;
      }

      .red.middle-custom {
        color: var(--primary-red);
      }
    }

    & .form {
      grid-column: 22 / span 9;
      margin-top: 80px;

      & .button-primary {
        max-width: 192px;
        margin-top: 8px;
      }
    }
  }
}

.hidden {
  display: none;
}
