.separator {
  grid-column: 1 / -1;
  height: 0;
  grid-row: 2;
  border-top: 1px solid var(--gray-5);
  width: 300%;
  justify-self: center;
}

.background-steps {
  grid-row-start: 2;
  grid-row-end: 11;
  background-color: var(--gray-7);
  width: 500%;
  height: 100%;
  grid-column: 1 / span 10;
  justify-self: end;
  display: none;
  transform-origin: top right;
  transform: scale(25, 10);
  z-index: -999;
}

.steps {
  grid-column: 1 / -1;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 12px;

  &__web {
    display: none;
  }

  & .back {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid #f0f2fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &::before {
      display: inline-block;
      content: "";
      width: 5px;
      height: 5px;
      border-bottom: 1px solid var(--gray-5);
      border-left: 1px solid var(--gray-5);
      transform: rotate(45deg) translate(1px, -1px);
    }
  }

  &__text {
    text-transform: uppercase;
    flex-shrink: 0;
  }

  &__progress-bar {
    height: 10px;
    background-color: var(--purple);
    width: 100%;
    border-radius: 999px;
    margin-left: 4px;
  }
}

.boy-section {
  grid-column: 1 / -1;
  padding-bottom: 56px;
  // background-color: var(--gray-7);

  .red {
    color: var(--primary-red);
  }

  &__title {
    font-size: 28px;
    font-family: var(--lato);
    margin-top: 40px;

    &--web {
      display: none;
      font-size: 40px;
      color: var(--gray-primary);
      font-family: var(--lato);
      margin-top: 24px;
    }
  }

  &__subtitle {
    font-size: 16px;
    font-family: var(--lato);
    margin-bottom: 24px;
    color: var(--gray-secundary);
  }

  .card {
    background-color: white;
    border-radius: 12px;
    padding: 44px 24px 36px 24px;
    display: flex;
    position: relative;
    min-height: 148px;
    box-sizing: border-box;

    &__text {
      max-width: 160px;
    }

    & .placa {
      font-size: 12px;
      font-family: var(--roboto);
      color: var(--gray-3);
      line-height: 20px;
    }

    & .car-details {
      font-size: 16px;
      font-family: var(--roboto);
      color: var(--gray-primary);
      line-height: 24px;
    }

    &__boy {
      position: absolute;
      width: 69px;
      right: 12px;
      bottom: 0;
    }
  }
}

.sum-form {
  grid-column: 1 / -1;
  padding-top: 44px;

  &__title {
    font-size: 16px;
    font-family: var(--lato);
    color: var(--gray-primary);
    margin-bottom: 4px;
  }

  &__subtitle {
    font-size: 12px;
    font-family: var(--lato);
    color: var(--gray-secundary);
    margin-bottom: 16px;
  }

  &__input {
    border: 1px solid #c5cbe0;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

    &--button {
      width: 12px;
      height: 12px;
      position: relative;
      margin: 0 19px;

      &.less::before,
      &.more::before {
        background-color: var(--purple);
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 2px;
        width: 100%;
        border-radius: 999px;
      }

      &.more::after {
        background-color: var(--purple);
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        height: 100%;
        width: 2px;
        border-radius: 999px;
      }
    }

    &--price {
      color: var(--gray-primary);
      font-size: 16px;
      font-family: var(--lato);
    }
  }
}

.coberturas {
  grid-column: 1 / -1;
  margin-top: 36px;

  .title {
    margin-bottom: 40px;
    font-size: 20px;
    font-family: var(--lato);
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    // padding-bottom: 10px;
    border-bottom: 1px solid var(--gray-5);

    &__subtitle {
      width: 33.33%;
      flex-shrink: 0;
      color: var(--gray-primary);
      font-family: var(--lato);
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.8px;
      cursor: pointer;
      padding-bottom: 33px;
      border-bottom: 2px solid;
      border-color: transparent;
      transition: color 0.3s, border-color 0.3s;

      &.active {
        border-color: var(--primary-red);
        color: var(--primary-red);
      }
    }
  }
}

.bottom {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 106px;

  &__price {
    font-size: 24px;
    font-family: var(--lato);
    color: var(--gray-primary);
  }

  &__cycle {
    font-size: 10px;
    font-family: var(--lato);
    font-weight: 700;
    color: var(--gray-primary);
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
}

@media (min-width: 768px) {
  .background-steps {
    display: inherit;
  }

  .boy-section {
    grid-column: 14 / span 11;
    grid-row-start: 2;

    &__title {
      display: none;

      &--web {
        display: inherit;
      }
    }
  }

  .steps {
    grid-column: 1 / 10;
    align-items: flex-start;

    .step {
      display: flex;
      gap: 16px;
      color: var(--gray-3);
    }

    .circle {
      width: 20px;
      height: 20px;
      border: 1px solid #c5cbe0;
      border-radius: 50%;
      position: relative;

      &__first {
        text-align: center;
        color: #c5cbe0;
      }
      &__second {
        text-align: center;
        color: white;
      }

      &.active {
        border-color: #6f7dff;
        background-color: #6f7dff;
      }
    }

    .active {
      color: #6f7dff;
    }

    &__web {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__progress-bar {
      display: none;
    }
  }

  .sum-form {
    grid-column: 14 / span 12;
  }

  .coberturas {
    grid-column: 14 / span 12;
  }

  .bottom {
    grid-column: 29 / span 7;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;

    &__checked {
      color: var(--gray-primary);
      display: flex;
      gap: 20px;
    }
    .web {
      display: inherit;
    }
  }
}
