.separator {
  grid-column: 1 / -1;
  height: 0;
  grid-row: 2;
  border-top: 1px solid var(--gray-5);
  width: 300%;
  justify-self: center;
}

.background-steps {
  grid-row-start: 2;
  // background-color: var(--gray-7);
  background-color: red;
  width: 500%;
  height: 100px;
  grid-column: 1 / span 10;
  justify-self: end;
  display: none;
}

.steps {
  grid-column: 1 / -1;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 12px;

  & .back {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid #f0f2fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &::before {
      display: inline-block;
      content: "";
      width: 5px;
      height: 5px;
      border-bottom: 1px solid var(--gray-5);
      border-left: 1px solid var(--gray-5);
      transform: rotate(45deg) translate(1px, -1px);
    }
  }

  &__text {
    text-transform: uppercase;
    flex-shrink: 0;
  }

  &__progress-bar {
    height: 10px;
    background-color: var(--gray-7);
    width: 100%;
    border-radius: 999px;
    margin-left: 4px;
  }
}
